.layout {
  display: grid;
  grid-template-columns: 300px 1fr;

  .content {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;

    @media screen and (min-width: 976px) {
      width: 90%;
    }
    @media screen and (min-width: 1280px) {
      width: 80%;
    }
    @media screen and (min-width: 1440px) {
      width: 70%;
    }
  }

  &.builderLayout {
    .content {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: none;
    }
  }
}
