.calendar {
  font-size: 12px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 976px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1640px) {
    font-size: 24px;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .day {
    font-family: 'Inter';
    font-size: clamp(20px, 3.5vw, 58px);
    line-height: 100%;
    font-weight: 700;
    margin: 0px;
  }
  .right {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .day_name {
      font-family: 'Inter';
      font-size: clamp(12px, 1.25vw, 20px);
      line-height: 100%;
      font-weight: 400;
      margin: 0px 0px 4px 0px;
    }
    .year {
      font-family: 'Inter';
      font-size: 0.75vw;
      line-height: 100%;
      font-weight: 600;
      margin: 0px;
    }
  }
}
