@import './reset.scss';
@import './font.scss';

:root {
  font-family: Helvetica;
  /*-------------Colors------------- */
  --ColorDarkA: hsl(0, 0%, 0%);
  --ColorDarkB: hsl(0, 0%, 18%);
  --ColorWhiteA: hsl(0, 0%, 94%);
  --ColorWhiteB: hsl(0, 0%, 90%);
  /*-------------FontSize -- Golden Ratio (1.618) Base Size 13px------------- */
  --FontH1: 233.25px;
  --FontH2: 144.16px;
  --FontH3: 89.1px;
  --FontH4: 55.07px;
  --FontH5: 34.03px;
  --FontParagraph: 21.03px;
  --FontSubtitle: 13px;
  /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
  --GoldenRatio1: 1920px;
  --GoldenRatio2: 1186.65px;
  --GoldenRatio3: 733.41px;
  --GoldenRatio4: 453.28px;
  --GoldenRatio5: 280.15px;
  --GoldenRatio6: 173.15px;
  --GoldenRatio7: 107.01px;
  --GoldenRatio8: 66.14px;
  --GoldenRatio9: 40.88px;
  --GoldenRatio10: 25.27px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  color: var(--ColorDarkA);
}

body {
  background: var(--ColorWhiteA);
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#wrapper h1 {
  position: absolute;
  left: var(--GoldenRatio7);
  font-size: var(--FontH2);
}

#wrapper h1 span {
  color: var(--ColorDarkB);
}

#wrapper p {
  position: absolute;
  bottom: var(--GoldenRatio7);
  color: var(--ColorDarkB);
  font-size: var(--FontParagraph);
}

#ImgWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 2200px;
  background: var(--ColorDarkA);
}

#ImgWrapper img {
  position: absolute;
  box-shadow: 0 0 31px black;
}

#ImgWrapper #img1 {
  z-index: 1;
  height: 50vh;
  bottom: 15%;
  left: 5%;
}

#ImgWrapper #img2 {
  z-index: 2;
  height: 45vh;
  bottom: 40%;
  right: 5%;
}

#ImgWrapper #img3 {
  z-index: 3;
  height: 40vh;
  bottom: 22%;
  right: 25%;
}

#ImgWrapper #img4 {
  z-index: 4;
  height: 31vh;
  bottom: 55%;
  left: 13%;
}

#ImgWrapper #img5 {
  z-index: 5;
  height: 50vh;
  bottom: 22%;
  left: 36%;
}

#ImgWrapper #img6 {
  z-index: 6;
  height: 31vh;
  bottom: 13%;
  left: 13%;
}

#ImgWrapper #img7 {
  z-index: 7;
  height: 31vh;
  bottom: 10%;
  right: 13%;
}

#codeby {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#codeby p {
  text-decoration: none;
  font-size: var(--FontH5);
  font-weight: 400;
  color: var(--ColorWhiteB);
}

#codeby p span {
  font-weight: 700;
  display: inline-block;
  color: var(--ColorWhiteA);
}

/*-------------@media (max-width: 1920px)------------- */

@media (max-width: 1920px) {
  :root {
    /*-------------FontSize (PX to VW Conversion With Viewport Width 1920px)------------- */
    --FontH1: 12.148vw;
    --FontH2: 7.508vw;
    --FontH3: 4.641vw;
    --FontH4: 2.868vw;
    --FontH5: 1.772vw;
    --FontParagraph: 1.095vw;
    --FontSubtitle: 0.677vw;
    /*-------------GoldenRatio (1.618) (Viewport Width 1920px)------------- */
    --GoldenRatio1: 100vw;
    --GoldenRatio2: 61.805vw;
    --GoldenRatio3: 38.198vw;
    --GoldenRatio4: 23.608vw;
    --GoldenRatio5: 14.591vw;
    --GoldenRatio6: 9.018vw;
    --GoldenRatio7: 5.573vw;
    --GoldenRatio8: 3.445vw;
    --GoldenRatio9: 2.129vw;
    --GoldenRatio10: 1.316vw;
  }
}

/*-------------/@media (max-width: 1920px)------------- */

/*-------------@media (max-width: 400px)------------- */

@media (max-width: 400px) {
  :root {
    /*-------------GoldenRatio (1.618) (Viewport Width 400px) Base Size 13px------------- */
    --FontH1: 58.313vw;
    --FontH2: 36.04vw;
    --FontH3: 22.275vw;
    --FontH4: 13.768vw;
    --FontH5: 8.508vw;
    --FontParagraph: 5.258vw;
    --FontSubtitle: 3.25vw;
    /*-------------GoldenRatio (1.618) (Viewport Width 400px)------------- */
    --GoldenRatio1: 100vw;
    --GoldenRatio2: 61.805vw;
    --GoldenRatio3: 38.197vw;
    --GoldenRatio4: 23.608vw;
    --GoldenRatio5: 14.59vw;
    --GoldenRatio6: 9.018vw;
    --GoldenRatio7: 5.572vw;
    --GoldenRatio8: 3.445vw;
    --GoldenRatio9: 2.13vw;
    --GoldenRatio10: 1.317vw;
  }
  #wrapper h1 {
    font-size: var(--FontH5);
  }
  #ImgWrapper #img1 {
    height: 22vh;
    bottom: 50%;
    left: 7%;
  }
  #ImgWrapper #img2 {
    height: 22vh;
    bottom: 70%;
    right: 7%;
  }
  #ImgWrapper #img3 {
    height: 22vh;
    bottom: 35%;
    right: 35%;
  }
  #ImgWrapper #img4 {
    height: 22vh;
    bottom: 61.89%;
    left: 13%;
  }
  #ImgWrapper #img5 {
    height: 35vh;
    left: 46%;
    bottom: 31%;
  }
  #ImgWrapper #img6 {
    height: 17vh;
    bottom: 22%;
  }
  #ImgWrapper #img7 {
    height: 18vh;
    left: 22%;
  }
  #codeby a {
    font-size: var(--FontParagraph);
  }
}

/*-------------/@media (max-width: 400px)------------- */
